@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
}  

.hero{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    background: url(sean-pollock-PhYq704ffdA-unsplash.jpg) no-repeat center;
    background-size: cover;     
}



.hero-con{
    width: 100%;
    display: flex;
    margin-left: 10%;
}
.hero-con .hero-left{
    flex-basis: 60%;
    color: #fff;
}
.left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    color: #fff;
    padding: 13px 0;
    margin-bottom: 20%;
}

.left-nav .logo{
    margin-right: 10%;
    font-size: 24px;
    border-bottom: 2px solid rgb(5, 165, 98);
}

.nav-links{
    margin-left: -25%;
    margin-right: 10%;
}
.nav-links ul {
    display: flex;
    justify-content: space-between;
    margin-left: -25%;
}

.left-nav ul li{
    list-style: none;
    font-size: 14px;
}

.left-nav ul li a{
    color: #fff;
}

.menu i{
    display: none;
}

.hero-con .hero-left .heroleft-text{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
}


.hero-con .hero-left .heroleft-text .real{
    flex-basis: 50%;
}

.hero-con .hero-left .heroleft-text .real h2{
    font-size: 36px;
    font-weight: 200;
}
.hero-con .hero-left .heroleft-text .real p{
   margin-top: 4%;
   margin-bottom: 5%;
}

.hero-con .hero-left .heroleft-text .culture-left{
    flex-basis: 35%;
    display: flex;
    align-items: center;
}
.hero-con .hero-left .heroleft-text .culture-left p{
    margin-right: 40%;
    border-bottom: 2px solid #ccc;
}
.hero-con .hero-left .heroleft-text .culture-left .number{
    font-size: 36px;
    font-weight: 700;
    margin-top: -10%;
}
.hero-con .hero-left .heroleft-text .icon-left{
    flex-basis: 15%;
    display: flex;
    height: 80%;
    padding: 20px;margin-top: 7%;

    background: #fff;
    align-items: center;
}

.hero-con .hero-left .heroleft-text .icon-left i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5%;
    line-height: 40px;
    font-size: 14px;
    color:  #000;
    border: 2px solid #ccc;
    cursor: pointer;
}

.hero-con .hero-right{
    position: relative;
    flex-basis: 40%;
    z-index: 99;
    background: url(marios-gkortsilas-OAePEg3V93A-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.hero-con .hero-right .right-overlay{
    width: 100%;
    color: #fff;
    background: linear-gradient(rgba(56, 56, 56, 0.75),rgba(56, 56, 56, 0.75));
}


.right-nav{
    display: flex;
    margin-bottom: 45%;
    color: #fff;
}

.heroright-text{
    display: flex;
    align-items: center;
    margin-bottom: 45%;
    margin-left: 5%;
    color: #fff;
}
.heroright-text i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color:  #fff;
    border: 2px solid #ccc;
    background: transparent;
    cursor: pointer;
}

.heroright-text .culture{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.heroright-text .culture p{
    margin-right: 100%;
    border-bottom: 2px solid #ccc;
}
.heroright-text .culture .number{
    font-size: 36px;
    font-weight: 700;
    margin-top: -27%;
}

.search i{
    width: 110px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    color:  #fff;
    background: #03113F;
    cursor: pointer;
    opacity: 0;

}
.right-nav p{
    margin-right: 5%;
    font-size: 14px;
    padding: 20px 25px;
    font-weight: 800;
    border-bottom: 1px solid #ccc;
}
.green{
    background: rgb(5, 165, 98);
}


@media screen and (max-width: 1200px){
    .hero{
        flex-direction: column;
        text-align: left;    
    }
    .hero-con{
        flex-direction: column;
        margin-left: 0;  
    }
    .hero-left{
        flex-basis: 100%;
        padding: 20px;
    }
    .hero-right{
        flex-basis: 100%;
    }
    .hero-con .hero-left .heroleft-text .real{
        flex-basis: 100%;
    }
    .left-nav{       
        margin-bottom: 15%;
    }

    .nav-links{
        display: none;
    }

    .menu i{
        display: block;
        color: #fff;
        z-index: 9999;
        font-size: 20px;
    }
    .right-nav{
        display: none;
    }
    .heroright-text{    
        margin-bottom: 10%;       
    }
    .hero-con .hero-left .heroleft-text{
        flex-direction: column;
    }
    .hero-con .hero-left .heroleft-text .icon-left{
        background: transparent;
        align-items: left;
        display: none;
    }

    .hero-con .hero-left .heroleft-text .culture-left{
        flex-basis: 100%;
        display: flex;
        margin-top: 2%;
        padding-bottom: 5%;
        align-items: center;
    }
    .hero-con .hero-left .heroleft-text .culture-left p{
        margin-right: 40%;
        border-bottom: 2px solid #ccc;
    }
    .hero-con .hero-left .heroleft-text .culture-left .number{
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
    }

    .hero-con .hero-left .heroleft-text .icon-left i{
        color:  #ccc;
        border: 2px solid #ccc;
        cursor: pointer;
    }

    .heroright-text {
        padding-top: 5%;
    }

    .heroright-text .culture .number{
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
    }

} 

.buy-out{
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    z-index: 999;
}
.buyout-left{
    flex-basis:10% ;
    background: #fff;
}
.buyout-left h2{
    opacity: 0;
}
.buyout-center{
    flex-basis:62% ;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
}

.buyout-right{
    flex-basis:28% ;
    background: transparent;
}


.buyout-right i{
    opacity: 0;
}
.buyout-right h2{
    opacity: 0;
}

.glass i{
    background: #03113F;
    color: #fff;
    padding: 20px 48px;
}

.type li{
    list-style: none;
}
.type li:hover{
    padding: 22px 45px;
    background: #03113F;
    color: #fff;
}

.sub-menu{
    display: none;
}

.type li .sub-menu li{
    font-size: 13px;
    color: #fff;
    border-bottom: 2px solid rgb(109, 109, 109);
}
.type li .sub-menu li:last-child{   
    border-bottom: none;
}

.type li .sub-menu li:hover{
    font-weight: 700;
}

.type li:hover .sub-menu{
    display: block;
    position: absolute;
    background: #03113F;
    margin-top: 15px;
    margin-left: 0;
    line-height: 5;
    padding: 0 1.5rem;
    padding-right: 6.5rem;
    z-index: 99999999;
    
}


@media only screen and (max-width:768px){
    .buy-out{
        flex-direction: column;
        margin-top: 5px;
        padding: 40px;
    }
    
    .buyout-center{
        flex-basis: 100%;
        background: #ccc;
        flex-direction: column;
    }

    .buyout-center div{
        width: 100%;
        margin-bottom: 10px;
        padding-top: 5%;
        padding-left: 5%;
    }
    .buyout-center div:last-child{
        margin-bottom: 0;
    }   

}





.recent{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.page{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.recent-left{
    font-weight: 500;
    color: rgb(5, 165, 98);
    margin-left:-35%;
    padding-right: 25%;
    border-right: 2px solid #ccc;
}




.deals{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.flex-one{
    flex-basis: 25%;
}
.flex-two{
    flex-basis: 25%;
}
.flex-three{
    flex-basis: 25%;
}
.flex-four{
    flex-basis: 25%;
}

.flex-image{
    background: url(brandon-griggs-wR11KBaB86U-unsplash.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 10px;
}
.flex-image h2{
    margin-bottom: 60%;
}

.image-text{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.image-text p{
    padding: 5px 10px;
    background: rgb(5, 165, 98);
}
.flex-text{
    padding: 10px;
    padding-bottom: 15%;
    background: #fff;
}
.text-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.text-flex h2{
    font-size: 18px;
}
@media only screen and (max-width:1024px){
    .deals{
        flex-direction: column;
    }
    .flex-one{
        flex-basis: 100%;
    }
    .flex-two{
        flex-basis: 100%;
    }
    .flex-three{
        flex-basis: 100%;
    }
    .flex-four{
        flex-basis: 100%;
    }
}






.props{
    margin-top: -10%;
    padding-top: 10%;
    background: rgb(209, 209, 209);
}

.props-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.props h2{
    opacity: 0;
}

.props p{
    background: #03113F;
    color: #fff;
    padding: 25px 45px;
}

.props i{
    margin-left: 15px;
    color: rgb(5, 165, 98);
}

@media only screen and (max-width:768px){
    .props-con{
        padding-bottom: 15%;
    }

    .props p{
        font-size: 16px;
        padding: 15px 40px;
    }
   
}


.common{
    background: rgb(209, 209, 209);
}
.common-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.common-left{
    flex-basis: 20%;
}
.common-right{
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 25px;
    background: #fff;
    z-index: 99;
}

.common-main hr{
    width: 60px;
    height: 4px;
    margin-bottom: 5%;
    background: rgb(5, 165, 98);

}

.common-main h2 strong{
    color: rgb(5, 165, 98); 
}


.common-sec{
  width: 80%;
}
.common-sec h2{
    width: 70%;
    margin-bottom: 3%;
}


@media only screen and (max-width:768px){
    .common-con{
       flex-direction: column;
    }
    .common-right{
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        background: #fff;
        z-index: 99;
    }
    .common-right h2{
        font-size: 20px;
    }

    .common-sec h2{
        width: 80%;
        font-size: 20PX;
        margin-top: 10%;
        margin-bottom: 3%;
    }
    
.common-sec{
    width: 100%;
  }
    
}

.manage{
    margin-top: -290px;
    background: rgb(209, 209, 209);
}

.manage-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.manage-left{
    flex-basis: 50%;
}
.manage-left img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
}

@media only screen and (max-width:768px){
    .manage{
        margin-top: 0;
       
    }
    .manage-con{
        flex-direction: column;
    } 
    .manage-left{
        flex-basis: 100%;
        padding-top: 15%;
    }
    .manage-left img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}


.service{
    background: rgb(209, 209, 209);
    margin-top: -11%;
}

.service-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.service-con h3{
    padding: 44px 54px;
    background: linear-gradient(rgba(6, 153, 63, 0.75),rgba(6, 153, 63, 0.75));
    color: #fff;
}
.square{
    padding-right: 5%;
    text-align: right;
    border-right: 2px solid rgb(5, 165, 98);
}
.square h2{
    font-size: 36px;
}

@media only screen and (max-width:768px){
    .service{
        background: rgb(209, 209, 209);
        margin-top: -7px;
        padding-top: 15%;
    }
    .service-con h3{
        font-size: 20px;
        padding: 30px;
        background: linear-gradient(rgba(6, 153, 63, 0.75),rgba(6, 153, 63, 0.75));
        color: #fff;
    }
    .square h2{
        font-size: 20px;
    }
}

.service-row{
    background: rgb(209, 209, 209);
}

.row-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.flex-row{
    flex-basis: 25%;
    background: #fff;
    padding: 20px; 
    padding-bottom: 0;  
}

.flex-row h3{
    margin-bottom: 5%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid rgb(5, 165, 98);
    border-radius: 50%;
 }

.flex-row h2{
   margin-bottom: 5%;
}

.flex-row h5{
    text-align: right;
    color: #fff;
    border-right: 2px solid #ccc;
}

.visit-link{
    flex-basis: 25%;
    text-align: center;
    background: rgb(5, 165, 98);
    color: #fff;
    height: 20%;
    margin-top: 18%;
    padding: 35px 0;
}

.visit-link i{  
    color: #fff;
    margin-left: 15px;
}

@media only screen and (max-width:1024px){
    .row-con{
        flex-direction: column;  
        padding-top: 15%;    
    }
    .flex-row{
        flex-basis: 100%;
    }
    .visit-link{
        flex-basis: 100%;
        padding: 20px 0;
    }
    .flex-row h5{
        text-align: right;
        color: #fff;
        border-right: none;
    }
    .flex-row h2{
        margin-bottom: 5%;
        font-size: 20px;
     }
}

.special{
    background: rgb(209, 209, 209);
}

.special-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.special-left{
    flex-basis: 30%;
}
.special-left{
    flex-basis: 30%;
}
.special-right{
    flex-basis: 70%;
    background: #03113F;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.special-right h2{
    text-align: right;
}
.special-right i{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
    color: rgb(5, 165, 98);
}

@media only screen and (max-width:768px){
    .special-row{
       flex-direction: column;
       padding-top: 15%;
    }
    .special-right{
        flex-basis: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 20px 10px;
    }
    .special-right h2{
        text-align: left;
        font-size: 20px;
    }
    .special-right i{
        width: 50px;
        height: 50px;
        line-height: 50px;
      
    }
}

.reasons{
    background: rgb(209, 209, 209);
}

.reasons-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.reason-left{
    flex: 75%;
    background: url(aaron-huber-s95oB2n9jng-unsplash.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}

.reason-right{
    flex: 25%;
}
.variant p{
    margin-bottom: 30%;
    color: transparent;
}

.variance-flex{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))
}

.variance-flex h2{
    padding-right: 120px;
    background: rgb(209, 209, 209);
    color: rgb(209, 209, 209);

}
.variance-flex h3{
    text-align: right;
    color: transparent;
    margin-left: 300px;
    margin-top: 5px;
    border-top: 4px solid rgb(5, 165, 98);
    
}

.variance-flex p{
    width: 30%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10%;
}

.reason-text{
    display: flex;
    padding: 10px;
    padding-bottom: 0;
}
.reason-text h2{
    margin-right: 12%;
    padding-bottom: 41px;
    color: rgb(5, 165, 98);
    border-bottom: 2px solid #ccc;
}

@media only screen and (max-width:768px){
    .reasons-con{
      flex-direction: column-reverse;
      padding-top: 15%;
    }

    .reason-left{
        flex-basis: 100%;
    }
    .reason-right{
        flex-basis: 100%;
    }
    .variance-flex{
        display: flex;
        flex-direction: column;
    }
    .variance-flex p{
        width: 100%;
    }
    .variance-flex h3{
        margin-left: 0;       
    }
}

.more{
    background: rgb(209, 209, 209);
}
.more-con{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.more-con h2{
    opacity: 0;
}
.more-con p{
    padding: 25px 64px;
    background: #03113F;
    color: #fff;
}
.more-con i{  
    color: rgb(5, 165, 98);
    margin-left: 15px;
}


@media only screen and (max-width:768px){
    .more-con{
        padding-top: 10%;
        padding-bottom: 15%;
    }
    .more p{
        font-size: 16px;
        padding: 15px 40px;
    }
}